{% extends "base/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'gallery/styles/gallery.css' %}">
{% endblock %}

{% block content %}
  <div class="gallery">
  {% for photo in viewbag.photos %}
    <figure class="photo">
      <a class="photo__link" target="_blank" href="{{photo.image.url}}">
        <img class="photo__image"
            src="{{photo.image.url}}"
            alt="{{photo.description}}">
      </a>
      <span class="photo__desc">{{photo.description}}</span>
    </figure>
  {% endfor %}
  </div>
  <script src="{% static 'gallery/scripts/gallery.js' %}"></script>
{% endblock %}
