.photo {
  margin: .5em;
  border: 1px solid var(--text-color-2);
  float: left;
  width: 180px;
}

.photo:hover {
  border-color: var(--text-color-2);
}

.photo__image {
  width: 100%;
  height: auto;
}

.photo__desc {
  padding: 1em;
  text-align: center;
}