.subsite {
  font-size: var(--normal-font-size);
}

.subsite__header {
  box-sizing: border-box;
  padding: 1em;
}

.subsite__title {
  color: var(--accent-color-2);
  font-size: var(--big-font-size);
  margin: 0;
}

.subsite__content {
  padding: 1em;
}

.subsite__footer {
  background: var(--accent-color-1);
  box-sizing: border-box; 
  height: .5em;
  margin: 2em 1em 1em 1em;
}
