.article {
  font-size: var(--normal-font-size);
}

.article__header {
  box-sizing: border-box;
  min-height: 4em;
  padding: 1em;
}

.article__title {
  font-size: var(--big-font-size);
}

.article__image {
  background: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
}

.article__date {
  font-size: var(--small-font-size);
  font-style: italic;
  color: var(--main-color-1);
}

.article__content {
  padding: 1em;
}

.article__footer {
  background: var(--accent-color-1);
  height: .5em;
  width: 100%;
}
