.bold {
  font-weight: bolder;
}

.page__header {
  background: var(--accent-color-1);
  height: 3em;
  min-height: 3em;
  padding: 0 4em;
}

.page__ad,
.page__content {
  padding: 1em;
  background: var(--background-color);
}

.page__footer {
  align-items: center;
  background: var(--background-color);
  color: var(--text-color-2);
  filter: brightness(90%);
  font-size: var(--small-font-size);
  font-style: italic;
  justify-content: center;
}

.logo,
.nav,
.nav__link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav__link {
  margin: 0;
  padding: 0;
  height: 100%;
}

.logo {
  color: var(--accent-color-3);
  font-size: var(--medium-font-size);
  font-weight: 700;
  outline: 0;
  text-decoration: none;
}

.logo__image + .logo__text {
  margin-left: .25em;
}

.nav {
  color: var(--accent-color-3);
  font-size: .9em;
  height: 100%;
  margin-left: 4em;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  outline: none;
  padding: 0 1em;
  background: var(--accent-color-1);
}

.nav__link:hover {
  filter: brightness(105%);
}