.page__header {
  align-items: center;
  background: var(--accent-color-1);
  display: flex;
  height: 3em;
  min-height: 3em;
  padding: 0 4em;
  z-index: 2;
}

.page__ad,
.page__content {
  padding: 1em;
  background: var(--background-color);
}

.page__footer {
  align-items: center;
  background: var(--background-color);
  color: var(--text-color-2);
  filter: brightness(90%);
  font-size: var(--small-font-size);
  font-style: italic;
  justify-content: center;
}

.logo,
.nav,
.nav__link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav__link {
  margin: 0;
  padding: 0;
  height: 100%;
}

.logo {
  color: var(--accent-color-3);
  font-size: var(--medium-font-size);
  font-weight: 700;
  outline: 0;
  text-decoration: none;
}

.logo__image + .logo__text {
  margin-left: .25em;
}

.nav {
  color: var(--accent-color-3);
  font-size: .9em;
  height: 100%;
  margin-left: 4em;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
  outline: none;
  padding: 0 1em;
  background: var(--accent-color-1);
}

.nav__link:hover {
  filter: brightness(105%);
}

.bold {
  font-weight: bolder;
}

.alert:not(:empty) {
  padding: .5em;
  margin-bottom: .5em;
  background: var(--accent-color-2);
  color: var(--accent-color-3);
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.hamburger.nav__link {
  transform: scaleX(-1);
}

.hamburger:not(.nav__link) {
  position: absolute;
  right: 3em;
  color: var(--accent-color-3);
}

#nav-trigger,
.hamburger {
  display: none;
}

@media only screen and (max-width: 992px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }

  #nav-trigger:checked ~ .hamburger {
    background: var(--text-color-2);
  }

  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--accent-color-1);
    display: flex;
    transition: right .5s ease-in-out;
  }

  .nav__link {
    width: 100%;
  }
  

  #nav-trigger:checked ~ .nav {
    right: 0;
    transition: right .5s ease-in-out;
  }
}


@media only screen and (max-width: 550px) {
  #nav-trigger:checked ~ .nav {
    width: 100%;
  }
}