{% extends "base/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'menu/styles/categories.css' %}">
{% endblock %}

{% block content %}
  {% if viewbag.categories %}
    <section class="categories">
    {% for c in viewbag.categories %}
      <a class="category"
         href="{% url 'base:index' 'menu' %}?category={{c.category_label | lower}}">
        <span class="category__label">{{ c.category_label }}</span>
      {% if c.photo %}
        <img class="category__photo" src="{{c.photo.url}}" alt="{{c.category_label}}"/>
      {% endif %}
      </a> 
    {% endfor %}
    </section>
  {% endif %}
{% endblock %}