.row {
  display: flex;
  justify-content: space-between;
}

#gmap {
  height: 20em;
  margin: 1em;
}

.message,
.contact {
  box-sizing: border-box;
  color: var(--text-color-1);
  display: inline-flex;
  flex-direction: column;
  flex: 1;
}

.contact {
  padding-left: 2em;
}

.contact__row {
  align-items: center;
  display: flex;
  margin: 1em 0;
}

.contact__icon {
  color: var(--text-color-1);
  margin-right: 3em;
}

.contact__text {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 1em;
}

.message__input,
.message__textarea,
.message__submit {
  color: var(--text-color-1);
  margin-bottom: 1em;
  padding: .5em;
  border: 1px solid var(--text-color-2);
  outline: 0;
}

.message__textarea {
  resize: none;
}

.message__submit {
  color: var(--accent-color-3);
  background: var(--accent-color-2);
  border: 0;
  cursor: pointer;
}

.message__input:focus,
.message__textarea:focus {
  border: 1px solid var(--accent-color-2);
}
.message__submit:hover {
  background: var(--accent-color-1);
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
  }

  .contact {
    padding-left: 2em;
  }
}