{% extends "base/layout.html" %}
{% load static %}

{% block header %}
  <a class="logo" href="/">
    {% if cfg.logo_image %}
      <img class="logo__image" src="{{cfg.logo_image.url}}"/>
    {% endif %}
    <span class="logo__text">
      {{ cfg.logo_text }}
    </span>
  </a>
  <nav class="nav">
    <ul class="nav__list">
    {% for item in nav %}
      <li><a class="nav__link" href="{% url 'base:index' item.url %}">{{ item.label }}</a></li>
    {% endfor %}
    </ul>
  </nav>
{% endblock %}

{% block footer %}
  <p>Pizzeria CMS by <span class="bold">s.kolodziejczak</span>.</p>
{% endblock %}