{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Untitled{% endblock %}</title>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'base/styles/reset.css' %}"> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/styles/layout.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block styles %}{% endblock %}
  </head>
  <body>
    <header class="header">
      <div class="logo">
        {% block logo %}{% endblock %}
      </div>
      <nav>
        {% block navigation %}{% endblock %}
      </nav>
    </header>
    <main class="content">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>