{% extends "base/index.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'base/styles/subsite.css' %}">
{% endblock %}

{% block content %}
  {{ url }}
  <article class="article">
    <header class="article__header">
      <h2 class="article__title">{{ item.title }}</h2>
      <span class="article__date">{{ item.pub_date | date:"SHORT_DATE_FORMAT" }}</span>
    </header>
    <div class="article__content">{{ item.content | safe }}</div>
    <footer class="article__footer"></footer>
  </article>
{% endblock %}
